<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx" xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd"> <!-- bean definitions here -->

        <!-- 配置三个组件 -->
        <mvc:annotation-driven></mvc:annotation-driven>

        <!-- 放行静态资源 -->
        <mvc:default-servlet-handler></mvc:default-servlet-handler>

        <!-- 扫描对应包下的注解 -->
        <context:component-scan base-package="cn.lotlyz.cake.controller"></context:component-scan>
        <!-- 导入上传组件
        id值必须是：multipartResolver
        -->
        <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>
        <mvc:interceptors>
                <mvc:interceptor>
                        <!-- 拦截所有的html页面 -->
                        <mvc:mapping path="/*.html"/>
                        <!-- 可以手动配置不拦截的页面 -->
                        <!--                            <mvc:exclude-mapping path="/login.html"/>-->
                        <bean class="cn.lotlyz.cake.interceptor.LoginInterceptor"></bean>
                </mvc:interceptor>
        </mvc:interceptors>



</beans>