<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 配置mapper对应的名称空间 -->
<mapper namespace="cn.lotlyz.cake.mapper.CouponMapper">

    <resultMap id="CouponMap" type="cn.lotlyz.cake.model.Coupon">
        <!-- 主键用id标签 -->
        <id column="id" property="id" jdbcType="INTEGER" />
        <!-- 其他属性用result标签 -->
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="type" property="type" jdbcType="INTEGER" />
        <result column="coupon_price" property="couponPrice" jdbcType="VARCHAR" />
        <result column="use_min_price" property="useMinPrice" jdbcType="VARCHAR" />
        <result column="coupon_time" property="couponTime" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
        <result column="end_time" property="endTime" jdbcType="VARCHAR" />
        <result column="cake_name" property="cakeName" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="INTEGER" />
    </resultMap>

    <!-- 多个id查询 -->
    <select id="findByIds" resultMap="CouponMap">
        SELECT *
        FROM coupon
        <where>
            id in
            <foreach collection="array"  open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </where>
    </select>

    <!-- 批量插入 -->
    <insert id="save">
        insert into coupon(
        id,name,type,coupon_price,use_min_price,coupon_time,status,create_time,end_time,cake_name,amount
        )
        values
        <foreach collection="list" separator="," item="coupon">
            (
            #{coupon.id},
            #{coupon.name},
            #{coupon.type},
            #{coupon.couponPrice},
            #{coupon.useMinPrice},
            #{coupon.couponTime},
            #{coupon.status},
            #{coupon.createTime},
            #{coupon.endTime},
            #{coupon.cakeName},
            #{coupon.amount}
            )
        </foreach>
    </insert>

    <!-- 批量删除
方法的参数是数组，foreach标签中的collection="array"
方法的参数是list集合，foreach标签中的collection="list"
-->
    <delete id="batchDel">
        delete from coupon
        <where>
            id in
            <foreach collection="array"  open="(" close=")" separator="," item="id">
                #{id}
            </foreach>
        </where>
    </delete>

    <!-- 修改患者-->
    <update id="updateCoupon">
        update coupon set
                          name = #{name},type = #{type},coupon_price = #{couponPrice},use_min_price = #{useMinPrice},
                          coupon_time = #{couponTime},status = #{status},create_time = #{createTime},end_time = #{endTime},
                          cake_name = #{cakeName},amount = #{amount}
        where id = #{id}
    </update>

    <!-- 修改状态-->
    <update id="updateStatus">
        update coupon set
                          status = #{status}
        where id = #{id}
    </update>

    <!-- 删除单个 -->
    <delete id="deleteById">
        delete from coupon where id = #{id}
    </delete>

    <!-- 添加患者 -->
    <insert id="add">
        insert into coupon(name,type,coupon_price,use_min_price,coupon_time,status,create_time,end_time,cake_name,amount)
        values(#{name},#{type},#{couponPrice},#{useMinPrice},#{couponTime},#{status},#{createTime},#{endTime},#{cakeName},#{amount})
    </insert>

    <!-- 查询所有患者，resultMap对应resultMap标签的id值 -->
    <select id="findAll" resultMap="CouponMap">
        SELECT *
        FROM coupon
    </select>
</mapper>