<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 配置mapper对应的名称空间 -->
<mapper namespace="cn.lotlyz.cake.mapper.OrderMapper">

    <resultMap id="orderMap" type="cn.lotlyz.cake.model.Order">
        <!-- 主键用id标签 -->
        <id column="o_id" property="orderId" jdbcType="INTEGER" />
        <!--         其他属性用result标签-->
        <result column="uid" property="userId" jdbcType="INTEGER" />
        <result column="c_id" property="cakeId" jdbcType="INTEGER" />
        <result column="o_PAOtime" property="orderPtime" jdbcType="TIMESTAMP" />
        <result column="o_Stime" property="orderStime" jdbcType="TIMESTAMP" />
        <result column="o_price" property="orderPrice" jdbcType="DOUBLE" />
        <result column="o_count" property="orderCount" jdbcType="INTEGER" />
    </resultMap>
    <!--  查找全部订单  -->
    <select id="findAll" resultMap="orderMap">
        SELECT * FROM cake.`order`
    </select>
    <!--  删除  -->
    <delete id="deleteById">
        delete from cake.order where o_id = #{id}
    </delete>
    <!-- 批量删除  -->
    <delete id="batchDel">
        delete from cake.`order`
        <where>
            o_id in
            <foreach collection="array"  open="(" close=")" separator="," item="orderId">
                #{orderId}
            </foreach>
        </where>
    </delete>

</mapper>
