<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 配置mapper对应的名称空间 -->
<mapper namespace="cn.lotlyz.cake.mapper.OrderMapper">

    <resultMap id="orderMap" type="cn.lotlyz.cake.model.Order">
        <!-- 主键用id标签 -->
        <id column="o_id" property="orderId" jdbcType="INTEGER" />
        <!--         其他属性用result标签-->
        <result column="uid" property="userId" jdbcType="INTEGER" />
        <result column="uName" property="userName" jdbcType="VARCHAR" />
        <result column="c_id" property="cakeId" jdbcType="INTEGER" />
        <result column="c_name" property="cakeName" jdbcType="VARCHAR" />
        <result column="c_price" property="cakePrice" jdbcType="DOUBLE" />
        <result column="o_PAOtime" property="orderPtime" jdbcType="TIMESTAMP" />
        <result column="o_Stime" property="orderStime" jdbcType="TIMESTAMP" />
        <result column="o_price" property="orderPrice" jdbcType="DOUBLE" />
        <result column="o_count" property="orderCount" jdbcType="INTEGER" />
    </resultMap>
    <!--  查找全部订单  -->
    <select id="findAll" resultMap="orderMap">
        select cake.order.o_id, cake.order.uid, user.uName, cake.order.c_id, cakelist.c_name, cakelist.c_price, cake.order.o_PAOtime,
               cake.order.o_Stime, cake.order.o_price, cake.order.o_count from  cake.order inner join user join cakelist on cake.order.uid = user.uid and cake.order.c_id=cake.cakelist.c_id
    </select>
    <!--  删除  -->
    <delete id="deleteById">
        delete from cake.order where o_id = #{id}
    </delete>
    <!-- 批量删除  -->
    <delete id="batchDel">
        delete from cake.`order`
        <where>
            o_id in
            <foreach collection="array"  open="(" close=")" separator="," item="orderId">
                #{orderId}
            </foreach>
        </where>
    </delete>

    <!--  多个id查询  -->
    <select id="findByIds" resultMap="orderMap">
        SELECT cake.order.o_id, cake.order.uid, user.uName, cake.order.c_id, cakelist.c_name,cakelist.c_price,cake.order.o_PAOtime,
        cake.order.o_Stime, cake.order.o_price, cake.order.o_count FROM cake.order inner join user join cakelist on cake.order.uid = user.uid and cake.order.c_id=cake.cakelist.c_id
      <where>
          o_id in
          <foreach collection="array"  open="(" close=")" separator="," item="orderId">
              #{orderId}
          </foreach>
      </where>
    </select>

    <insert id="add">
        insert into cake.`order`(uid,c_id,o_PAOtime,o_Stime,o_price,o_count) values
        (#{userId},#{cakeId},#{orderPtime},#{orderStime},#{orderPrice},#{orderCount})
    </insert>

    
    <update id="updateOrder">
      update cake.order set o_PAOtime = #{orderPtime},o_Stime = #{orderStime},
        o_count = #{orderCount},o_price = #{orderPrice} where o_id = #{orderId}
    </update>


    <select id="findByUid" resultMap="orderMap">
         select from cake.user where u_id = #{userId}
    </select>


<!--  批量插入  -->
    <insert id="save">
        insert into cake.order(o_id,uid,c_id,o_PAOtime,o_Stime,o_price,o_count)
        values
        <foreach collection="list" separator="," item="order">
            (
            #{order.orderId},
            #{order.userId},
            #{order.cakeId},
            #{order.orderPtime},
            #{order.orderStime},
            #{order.orderPrice},
            #{order.orderCount}
            )
        </foreach>


    </insert>


</mapper>
